.a_tag_text {
  color: #252c41;
}

.a_tag_text:hover {
  color: #252c41;
  text-decoration: none;
}

/* title font*/
.h-title {
  text-decoration: none;
  font-family: "GmarketSansBold";
}
.h-title:hover {
  text-decoration: none;
  color: #f1404b;
}

.scale img {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.scale:hover img {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}
